[submodule "rtl/mmu"]
	path = rtl/mmu
	url = https://github.com/bsc-loca/mmu.git
[submodule "simulator/reference/riscv-isa-sim"]
	path = simulator/reference/riscv-isa-sim
	url = https://github.com/bsc-loca/riscv-isa-sim.git
[submodule "fpga/common/rtl/axi"]
	path = fpga/common/rtl/axi
	url = https://github.com/pulp-platform/axi.git
[submodule "fpga/common/rtl/axi_riscv_atomics"]
	path = fpga/common/rtl/axi_riscv_atomics
	url = https://github.com/pulp-platform/axi_riscv_atomics.git
[submodule "rtl/common_cells"]
	path = rtl/common_cells
	url = https://github.com/pulp-platform/common_cells.git
[submodule "rtl/icache"]
	path = rtl/icache
	url = https://github.com/bsc-loca/instruction_cache.git
[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/bsc-loca/riscv-tests.git
[submodule "simulator/bsc-dm"]
	path = simulator/bsc-dm
	url = https://github.com/bsc-loca/bsc-dm.git
[submodule "rtl/core/drago"]
	path = rtl/core/drago
	url = https://github.com/bsc-loca/drago.git
